// $font-stack: Helvetica, sans-serif;
$primary-color: #333;

$font-stack: "Fira code";
$black-color: #ffffff;
$white-color: #202124;
$shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
$white-borders: solid 2px #ffffff;
$black-borders: solid #000000 2px;
//
$input-font-stack: "Koulen";
$input-color: #000000;
$input-background-color: #ffffff;
$input-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
$input-border: solid #000000 2px;

.btn {
  // width: 200px;
  font-family: $font-stack;
  // font-weight: 400;
  color: $black-color;
  background-color: $white-color;
  padding: 5px 10px;
  border: $black-borders;
  box-shadow: $shadow;
  border-radius: 1px;
  transition: 1000ms;
  transform: translateY(0);
  text-transform: uppercase;
}

.btn:hover {
  transition: 1000ms;
  padding: 10px 20px;
  transform: translateY(-0px);
  background-color: $black-color;
  color: $white-color;
  border: $black-borders;
}
//
select {
  width: 200px;
  font-family: $font-stack;
  // font-weight: 400;
  color: $black-color;
  background-color: $white-color;
  padding: 5px 10px;
  border: $black-borders;
  box-shadow: $shadow;
  border-radius: 1px;
  transition: 1000ms;
  transform: translateY(0);
  text-transform: uppercase;
  height: 37px;

  /* estilos para el botón */
  &:hover {
    transition: 1000ms;
    padding: 10px 20px;
    transform: translateY(-0px);
    background-color: $black-color;
    color: $white-color;
    border: $white-borders;
    height: 37px;
  }
}
//
.input {
  width: 200px;
  font-family: $font-stack;
  color: $input-color;
  background-color: $input-background-color;
  box-shadow: $input-shadow;
  border: $input-border;
  border-radius: 1px;
  transition: 1000ms;
  padding: 10px;
  height: 37px;
}

.input:focus {
  outline: none;
  height: 32px;
}

.form {
  display: flex;
  // align-items: center;
  // justify-content: flex-start;
  // align-content: flex-start;
  flex-wrap: wrap;
}

body {
  font-family: $font-stack;
  font-size: calc(10px + 3vmin);
  color: $black-color;
}

.containerForm {
  width: 800px;
  max-width: 800px;
}

.App {
  background-color: #3f3f3f;
}
