body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #252830;
  color: #EFF3F4;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #252830;
  color: #EFF3F4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #61A059;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

li.parent > a {
  cursor: default;
  color: #61A059;
}

li.parent.open > ul {
  display: block;
}

li.parent.open > a::after {
  content: "-";
  margin-left: 5px;
}

li.parent > a::after {
  content: "-";
  margin-left: 5px;
}

li.child > a {
  text-decoration: none;
  color: #61A059;
  transition: color 0.3s ease;
}

li.child > a:hover {
  color: #EFF3F4;
  background-color: #61A059;
  border-radius: 4px;
  padding: 4px 8px;
}